body{
   background-image: url(../../images/backgroundMountain.jpg);
    background-repeat:no-repeat;
    margin: 0;
    display: flex;
    font-family: OCR A Std, monospace;
}

h1{
    text-align: center;
}

#blocDemarrage{
    width: 320px;
}

.btn{
    cursor: pointer;
}

button{
    padding: 10px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    border-radius: 20px;
    border-color: black;
    font-family: OCR A Std, monospace;
}

#regleJeu p{
    line-height: 1.5;
}

#regleJeu{
    width: 850px;
}

.bloc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    background-color: #4169e1; 
    padding: 20px;
    border-radius: 20px;
    border : solid black;
}

table{
    border-collapse: collapse;
    margin-left:auto;
   margin-right:auto;
}

th, td{
    border: solid;
    padding: 10px;
}

#playerdiv{
    text-align: center;
}

.divAvatar{
    height: 150px;
    width: 150px;
    border: dashed;
}

#containerAvatar{
    transform: translate(250%, 1%);
}

#displayAvatar{
    display: inline-flex;
}